*{
  padding: 0%;
  margin: 0%;
}
body {
background-image:url("ghanian2.jpeg") ;
background-repeat: no-repeat;
background-size: cover;
}
img {
  margin-left: 73%;
}
.whatis{
  color: white;
  font-size:x-large ;
}
.people{
  display: flex;
}
.female{
  margin-left: 20%;
}
.male{
  margin-left: 10%;
}
/* label{
 display: inline;
} */
.all {
  display: flex;
}
/* .form {
  margin-top: 4%;
  margin-left: 25%;
  background-color:rgb(219, 53, 11) ;
  height: 32vh;
  width: 350px;
  overflow: auto; */
}
label{
  color: white;
 font-size: larger;
}
.answer {
  background-color: rgb(241, 187, 8);
  margin-left: 10%;
  height:15vh ;
  width: 350px;
  margin-top: 4%;
  text-align: center;
  font-size: x-large;
 

}
button {
  background-color: rgb(223, 134, 32);
  font-size: large;
  margin-left: 35%;
  color: white;
}

