*{
  padding: 0%;
  margin: 0%;
}
body {
background-image:url("ghanian2.jpeg") ;
background-repeat: no-repeat;
background-size: cover;
}
img {
  margin-left: 73%;
}
.whatis{
  color: white;
  font-size:x-large ;
}
.people{
  display: flex;
  color: white;
  font-size: x-large;
}
.wrapper{
  display: flex;
  justify-content: space-between;
}
.female{
  margin-left: 70%;
}
.male{
 padding-left: 50%;
 justify-content: right;
}
/* label{
 display: inline;
} */
.all {
  display: flex;
}
.form {
  margin-top: 2%;
  background-color:rgb(219, 53, 11) ;
  height: 32vh;
  width: 350px;
  overflow: auto;
  margin-right: 20%;
}
label{
  color: white;
 font-size: larger;

}
/* button {
  background-color: rgb(223, 134, 32);
  font-size: large;
  margin-left: 35%;
  color: white;
} */

